<nav class="navbar navbar-light" style="background-color: rgb(202, 199, 199);">
    <a class="navbar-brand d-flex align-items-center" [routerLink]="['/home']" style="cursor: pointer;">
        <img class="mr-2" src="../../../assets/imgs/logoClinicaUTN.png" height="50px" alt="" [routerLink]="['/home']">
        Clinica UTN
    </a>
    <form class="form">
        <!-- <button class="btn" routerLink='/home'>Inicio</button> -->
        <button class="btn" routerLink="/login">Ingresar</button>
        <!-- <button class="btn" [routerLink]="['/login']">Pedir turno</button>
        <button class="btn">Contacto</button> -->
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">🔎</button> -->
    </form>
</nav>
