<app-nav></app-nav>
<app-carousel></app-carousel>
<h2 class="text-center p-5">Novedades</h2>
<div class="cards-container m-3">
    <div class="card" style="max-width: 540px;">
        <app-card 
        [img]="'https://img.trademed.com/images/news/articles/article_images/2019-05-03/SDD-751.jpg'"
        [title]="'Sala de cirugia'"
        [text]="'Contamos con todo el equipamiento necesario'"
        ></app-card>
    </div>
    <div class="card" style="max-width: 540px;">
        <app-card
        [img]="'https://st2.depositphotos.com/1003098/12235/i/600/depositphotos_122351458-stock-photo-dentist-chair-in-empty-dentistry.jpg'"
        [title]="'Sala de odontologia'"
        [text]="'Nuevo equipo para una mejor experiencia'"
        ></app-card>
    </div>
    <div class="card" style="max-width: 540px;">
        <app-card
        [img]="'https://www.lavozdelpueblo.com.ar/recursos/fotos/2019/06/29/lvp.kine-2.jpg'"
        [title]="'Sala de kinesiologia'"
        [text]="'Ultima tecnologia para tu tratamiento'"
        ></app-card>
    </div>
</div> 
<div class="divMap text-center" style="background-color: rgba(226, 224, 224, 0.898);">
    <h3>Donde estamos</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.698927291779!2d-58.366893785050294!3d-34.662305668106875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3334e1e773297%3A0x38b223e10c24ff93!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%3A%20Facultad%20Regional%20Avellaneda!5e0!3m2!1ses-419!2sar!4v1642177988567!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<hr class="w-50">
<footer class="container">
    <p>Lucia Cardozo ©copyright 2023</p>
</footer>
